# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/
CMakeFiles/
.idea/
cmake_install.cmake
CMakeCache.txt
Makefile
prog_idx.csv
ProgressiveMergesort.cbp
.ipynb_checkpoints/
results/
main
tests